<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation 101</title>
    <link rel="stylesheet" href="../static/foundation_custom/css/foundation.css">
    <link rel="stylesheet" href="../static/foundation_custom/css/app.css">

    <style>
    .top-bar{
        background-color:#4BA3C3;
    }
    .top-bar-left{
        background-color:#4BA3C3;
    }
    .data-dropdown-menu{
        background-color:#4BA3C3;
    }
    .menu-text{
        background-color:#4BA3C3;
    }
    .abc{
        background-color:#4BA3C3;
    }
    .abcd{
        background-color:#4BA3C3;
    }
    a {
        color:#CCE6F4;
    }

    </style>
</head>
<body background="bgcollage.jpg">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">Less Than Three</li>
                <li class = "abc">
                    <a href="#">Home</a>
                </li>
                <li class="abcd">
                    <a href="#">About</a>
                </li>
            </ul>
  </div>
  <div class="top-bar-right">
        {% block head %}
        {% endblock %}
  </div>
</div>

    {% block body %}
    {% endblock %}
</body>

</html>
