{% extends "base.html" %}

{% block head %}
{{ super() }}
	 <a href="#">Settings </a>
	  <a href="/logout/">Log Out</a>

{% endblock %}


{% block style %}
	.card {
		margin:auto;
		margin-top:4%;
		radius:10px 10px 10px 10px;
	}
	.card-divider {
		background:#4BA3C3;
		border:#4BA3C3;
	}
	.card-section{
		border:#4BA3C3;
	}
	.button{
		margin: 20px 10px 10px 10px;
		background:#BA324F;
	}
{% endblock %}


{% block body %}
<form action="/profilepic/" method="POST">
<label for="exampleFileUpload" class="button">Upload File</label>
<input type="file" id="exampleFileUpload" class="show-for-sr">
<button type="Submit" class="button"> YAY! </button>
</form>


{% endblock %}